

@font-face {
    font-family: poppiens;
    src: url(./components/fonts/Poppins-Bold.ttf);
  }
  
  @font-face {
    font-family: rubik;
    src: url(./components/fonts/Rubik-Bold.ttf);
  }
  
  @font-face {
    font-family: rubiklight;
    src: url(./components/fonts/Rubik-Light.ttf);
  }


.aboutusfirstcompmaindiv{

    background-image: url('./components/images/aboutfirstcompimgone.png');
    background-size: cover;
    /* background-color: aqua; */
    padding: 50px;
}
.communitydiv{
    /* background-color: yellow; */
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.aboutusfirstcompdiv{
    /* background-color: yellow; */
    width: 60%;
    padding: 30px;
    color: white;
    padding-left: 20%;
}
.aboutusheading{
    /* font-weight: bold; */
font-family: poppiens;
    font-size: 50px;
}
.aboutustextbelow{
    font-size: 12px;
}
.communityheadingupdate{
    font-size: 30px;
    color: #062A4D;
    font-family: poppiens;

}
.communitydivpartone{
    /* position: relative; */
    font-size: 13px;
    width: 400px;
    padding: 10px;
    /* background-color: orangered; */
}
.communityupperblockdivbelowimg{
    height: 80vh;
    width: 100%;
    /* position: sticky; */
    /* margin-top: 20%; */
    background-size: cover;
    /* position: relative; */
    background-image: url('./components//images//aboutcommunitytopbelowpic.png');
}
.communityupperblockdiv{
    /* position: absolute; */
    position: sticky;
    margin-top: 60px;
    margin-bottom: -130px;
    
    background-color: aqua;
    background-size: cover;
    background-image: url('./components/images/aboutuscommunitytopdiv.png');
    padding: 6%;
    text-align: center;
    /* margin: 40px; */
    color: white;
    /* position: absolute; */
    font-size: 25px;
    /* top: 60; */
    /* width: 50%; */
}
.aboutmissionimg{
    width: 95%;
    height: 95%;
    
}
.communitydivmission{

    /* background-color: yellow; */
    /* position: relative; */
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.communitydivpartonemission{
    /* position: relative; */
    font-size: 13px;
    width: 500px;
    padding: 10px;
    padding-left: 0px;
    /* background-color: orangered; */
}
.missionbackimg{
    width: 100%;

}
.missionlowerblockdiv{
    position: sticky;
    background-color: #1B70F0;
    width: 50%;
    margin: 0 auto;
    padding: 5%;
    font-size: 23px;
    font-weight: 200;
    text-align: center;
    font-size: rubiklight;
    color: white;
    border-radius: 10px;
    margin-top: -70px;
}
.comeandjoinusmaindiv{
    background-size: cover;
    background-image: url('./components/images/comeandjoinusbackimg.png');
    color: white;
    text-align: center;
}
.comeandjoinustoptext{
    padding-top: 8%;
    font-size: 11px;
    margin-bottom: 20px;
}
.comeandjoinusbelowtext{
    font-size: 30px;
    font-family: poppiens;

}
.comeandjoinusbtn{
    text-transform: uppercase;
    font-size: 10px !important;
    /* padding-left: 25px !important ; */
    /* margin-top: 20px; */
    margin-bottom: 8% !important;
}
.comeandjoinusbtncontactus{
    text-transform: uppercase;
    font-size: 10px !important;
    padding-left: 25px !important ;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.comeandjoinusbtnarrow{
    padding-right: 20px !important ;
    width: 40px !important;
    /* padding-left: 5px !important; */

}
.aboutcardmaindiv{
    width: 270px;
    border: 1px solid #f0f0f0;
    background-size: cover;
    background-image: url('./components/images//aboutuscardteamone.png');
    margin-bottom: 20px;
}
.aboutcardmaindivnametext{
    width: 85%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 85%;
    margin-bottom: 10%;
}
.aboutcardmaindivnameheading{
    color: #062A4D;
    font-family: poppiens;
}
.aboutcardmaindivnamedetails{
    color: #062A4D;
    font-size: 15px;
    font-family: rubiklight;
}
.aboutcardmaindiv:hover {
    transition: box-shadow 0.5s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  */
}















@media only screen and (max-width: 1200px) {

    .aboutusfirstcompdiv{
        /* background-color: yellow; */
        width: 80%;
        padding: 30px;
        color: white;
        padding-left: 10%;
    }
    .communitydivpartone{
        /* position: relative; */
        font-size: 13px;
        width: 600px;
        padding: 10px;
        /* background-color: orangered; */
    }
    .communitydivmission{

        /* background-color: yellow; */
        /* position: relative; */
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .communitydivpartonemission{
        /* position: relative; */
        font-size: 13px;
        width: 400px;
        padding: 10px;
        /* background-color: orangered; */
    }
    /* .communityupperblockdivbelowimg{
        height: 80vh;
        width: 100%;
        margin-top: 20%;
        background-size: cover;
        position: relative;
        background-image: url('./components//images//aboutcommunitytopbelowpic.png');
    }
    .communityupperblockdiv{
        position: absolute;
        top: 170%;
        right: 20%;
        left: 20%;
        background-color: aqua;
        background-size: cover;
        background-image: url('./components/images/aboutuscommunitytopdiv.png');
        padding: 6%;
        text-align: center;
        margin: 40px;
        color: white;
        position: absolute;
        font-size: 20px;
        top: 60;
        width: 50%;
    }
    .communitydivpartone{
        position: relative;
        font-size: 13px;
        width: 600px;
        padding: 10px;
        background-color: orangered;
    } */
    .comeandjoinusbtn , .blogarrow{
    width: 200px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    }
}
@media only screen and (max-width: 800px) {

    .aboutusfirstcompdiv{
        /* background-color: yellow; */
        width: 80%;
        padding: 30px;
        color: white;
        padding-left: 10%;
    }
   
    .communitydivpartone{
        /* position: relative; */
        font-size: 13px;
        width: 600px;
        padding: 10px;
        /* background-color: orangered; */
    }
    .communityupperblockdivbelowimg{
        height: 40vh;
        width: 100%;
        /* position: sticky; */
        /* margin-top: 20%; */
        background-size: cover;
        /* position: relative; */
        background-image: url('./components//images//aboutcommunitytopbelowpic.png');
    }
}









@media only screen and (max-width: 600px) {

    .aboutusfirstcompdiv{
        /* background-color: yellow; */
        width: 95%;
        padding: 30px;
        color: white;
        padding-left: 10%;
    }
    .aboutusheading{
        /* font-weight: bold; */
    font-family: poppiens;
        font-size: 30px;
    }
    .communityflyingtextdiv{
    font-size: 10px;
}
  
}



@media only screen and (max-width: 500px) {

    .aboutusfirstcompdiv{
        /* background-color: yellow; */
        width: 95%;
        padding: 30px;
        color: white;
        padding-left: 10%;
    }
    .aboutusheading{
        /* font-weight: bold; */
    font-family: poppiens;
        font-size: 30px;
    }
    .communityflyingtextdiv{
    font-size: 10px;
    }
    .aboutmissionimg{
        width: 100%;
        height: 95%;
    }
    .communitydivpartonemission{
        /* position: relative; */
        font-size: 13px;
        width: 400px;
        padding: 10px;
        /* background-color: orangered; */
    }
    .missionlowerblockdiv{
        width: 80%;
    }
    .comeandjoinusbtn , .blogarrow{
width: 200px !important;
padding-top: 10px !important;
padding-bottom: 10px !important;
    }
 
}
@media only screen and (max-width: 400px) {

    .aboutusfirstcompdiv{
        /* background-color: yellow; */
        width: 95%;
        padding: 30px;
        color: white;
        padding-left: 10%;
    }
    .aboutusheading{
        /* font-weight: bold; */
    font-family: poppiens;
        font-size: 30px;
    }
    .communityflyingtextdiv{
    font-size: 10px;
    }
 
}