/* import bgimg from './' */


@font-face {
  font-family: Poppins;
  src: url(./components/fonts/Poppins-Bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav-link{
  color:#19142E !important;
  outline: none;
  font-family:  Rubik !important;
  font-weight: 500 ;
/* gap: 10px; */
  text-transform:'uppercase' !important;
   color:'#19142E';
   font-size:'14px';
   padding-right:'30px';
   /* padding-left:'10px'; */
   /* margin-left: 10px; */
   /* font-weight:"bolder" ; */
    text-decoration:'none' !important;
}
.nav-linkbtn{
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  padding: 15px 25px;
  color: white;
  background-color: #6100B3;
  font-family: Rubik;
  font-weight: 500;
  font-size: 9px;
}
.nav-linkbtnimg{
  border: none;
  background-color: #6100B3;
  outline: none;
  padding: 10px 15px;
}
.navbarmainouterdiv{
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.navbarlogo{
  margin-left: 30px;
  margin-right: 60px;
  width: 200px;
}
.navbar-toggler {
  margin-right: 20px;
  /* outline: none; */
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-nav .dropdown-menu {
  margin-top: 20px;
  border: none;
  border-top: 8px solid #6100B3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dropdown-item {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform:uppercase;
  color:#19142E !important;
     font-size:14px;
     /* padding-right:90px; */
     padding-left:0px;
     padding-bottom: 0px;
     /* display: flex; */
     /* margin-left: 5px; */
     /* margin-right: 5px; */
     text-align: start;
     /* background-color: aqua; */
     width: 90%;
     /* justify-content: flex-start; */
     margin: 0 auto;
    font-weight:700;
}
.dropdown-item:hover{
  /* width: 80%; */
  /* margin: 0 auto; */
  /* text-align: center; */
  border-bottom: 2px solid #4157F8;
  background-color: white;
}
/* NavDropdown.Item */

.homesupermaindiv {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: #FDF3FB;
  margin-bottom: 30px;
  /* padding-bottom: 120px; */
}

.homedivone {
  width: 710px;
  margin: 10px;

}

.prgressanddetails {
  
  margin: 10px;
}

.homeprogressdetails {
  
  display: flex;
  justify-content: space-between;
}

.homepricedetails {
  font-family: Rubik;
  font-weight: 450 !important;
  font-size: 11px;
  
  line-height: -10px;
}

.homepriceone {
  
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  color: #19142E;
}

.homedivonetext {
  color: #19142E;
  font-family: Poppins;
  font-size: 50px;
  padding: 10px;
  font-weight: 600 !important;
  /* background-color: yellow; */
  margin-top: 110px;
  margin-bottom: 60px;
}

.homeimagelevels {
  width: 500px;
  position: relative;
  /* height: 300px; */
  margin: 10px;
  /* background-color: purple; */
}

.imagelevels {
  margin-left: 10%;
  width: 92%;

}

.headphonepic {
  width: 33%;
  /* background-color: palevioletred; */
  right: 75%;
  bottom: 60%;
  position: absolute;
}



.planboxmain {
  background-color: hsl(330, 4%, 91%);
  width: 88%;
  margin-left: 10%;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.planboxinner {
  width: 85%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  border-top: 3px solid #1E1E1E;
  
 
}

.planboxsmalldivs {

  margin-top: 10px;
  width: 270px;
  
}

.planboxtext {
  font-family: Poppins;
  font-weight: bold;
}


/* make investment main  */

.makemaindiv {
  width: 65%;
  
  margin: 0px auto;
  
  padding-bottom: 20px;
  padding-top: 50px;
}

.ourfeaturetextinvest {
  position: relative;
  color: #1B70F0;
  margin-left: 40px;
  text-transform: uppercase;
/* background-color: yellow; */
/* line-height: ; */
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 500;
  font-family: Rubik;
  margin-bottom: -12px;
}
.ourfeaturetextinvestsubs {
  position: relative;
  color: #1B70F0;
  margin-left: 40px;
  text-transform: uppercase;
/* background-color: yellow; */
/* line-height: ; */
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 500;
  font-family: Rubik;
  /* margin-bottom: -12px; */
}

.investmentbtn {
  font-family: rubik;
  font-weight: 400;
  letter-spacing: 2px;
  width: 130px;
  /* font-size: 24px; */
  /* margin-left: 80%; */
  
  text-transform: uppercase;
  border: 1px solid #EAD2FF;
  background-color: white;
  font-size: 10px;
  color: #062A4D;
  
  padding: 15px 10px;
}
.investmentbtndream{
  font-family: rubik;
  font-weight: 400;
  letter-spacing: 2px;
  /* width: 150px; */
  /* font-size: 24px; */
  /* margin-left: 80%; */
  
  text-transform: uppercase;
  border: 1px solid #EAD2FF;
  background-color: white;
  font-size: 10px;
  color: #062A4D;
  
  padding: 15px 20px;
}
.investmentbtndiv{
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-end;
}
.investmentbtn:hover{
  background-color: #062A4D;
  color: white;
}
.investmentbtndream:hover{
  background-color: #062A4D;
  color: white;

}

.investmentheading {
  /* margin-left: 20px; */
  font-weight: 600;
  color: #062A4D;
  font-size: 30px;
  font-family: Poppins;
  letter-spacing: -1px;
  /* background-color: yellow; */
  /* width: 50%; */
  line-height: 1px;

  
}



.investcard {
  
  width: 270px;
}

.cardheading {
  font-size: 20px;
  font-family: Poppins;
  color: #062A4D;
  text-align: center;
}

.cardtext {
  color: #6F7172;
  font-size: 12px;
  line-height: 20px;
  font-family: rubik;
  text-align: center;
  padding: 5px;
}

.investcardimg {
  margin: 0 auto;

  padding: 5px;
  width: 240px;
  height: 220px;
 
}

.investcarddiv {
  margin-top: 30px;
  margin-bottom: 10px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/* popular series */
.popularmaindiv {
  /* background-color: yellow; */
  width: 75%;
  margin: 0 auto;
}

.popularsuparmaindiv {
  padding: 20px;
  
  background-color: #F9FAFF;

}

.populartextblue {
  color: #1B70F0;
  
  letter-spacing: 2px;
  font-size: 12px;
  font-family: Rubik;
  font-weight: 500;
  text-align: center;
}

.popularheading {
  color: #062A4D;
  font-size: 30px;
  font-family: Poppins;
  letter-spacing: -1px;
  text-align: center;
}

/* pop card */
.popcardheading {
  font-size: 15px;
  font-weight: bold;
  color: #062A4D;
}

.popprogressprice {
 
  width: 80%;
}
.completedprojectpopprogressprice {
  
  width: 100%;
}

.poppriceanddetail {
  display: flex;
  
  justify-content: space-between;
}

.popcardprice {
  font-weight: 700;
  font-size: 16px;
  color: #062A4D;
}

.popcardpricedetail {
  color: #6F7172;
  font-weight: 400;
  font-size: 11px;
}
.popcardpricedetailend {
  text-align: end;
  color: #6F7172;
  font-weight: 400;
  font-size: 11px;
}



.poppriceanddetailbelow {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid rgb(224, 224, 224);
}

.popcardpricebelow {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  color: #3A516C;
  text-transform: uppercase;

}

.popularcarddiv {
  display: flex;
  /* background-color: #6100B3; */
  margin-top: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;

}


.popmoreproj {
  font-family: Rubik;
  width: 150px;
 
  text-transform: uppercase;
  border: 1px solid #EAD2FF;
  background-color: white;
  font-size: 12px;
  color: #062A4D;
  font-weight: 400;
 
  margin: 10px auto;
  margin-bottom: 40px;
  

  padding: 10px;
}
.popmoreproj:hover{
  background-color: #062A4D;
  color: white;
 
}


/* make it easier */
.easiernumone {
  text-shadow: 2px 2px 10px #b2cdf5;

  text-align: center;
  font-size: 150px;

  font-weight:700;
  letter-spacing: 1px;
  color: #F6FBFF;
  
  font-family: Poppins;
}


.allnumbresdiv {
  display: flex;
  height: 250px;
  width: 75%;
  margin: 0 auto;
  align-items: center;
 
  justify-content: space-around;
}

.lineandnumbers {
  position: relative;

}

.allnumberdivtwo {
  position: absolute;
  width: 100%;
  top: 10px;
  display: flex;
  justify-content: space-around;
  

}



.numonedetail {
 
  font-weight:700;
  font-size: 18px;
  color: #062A4D 10%;
  text-align: center;
  font-family: Poppins;
  

}

.lineone {
  height: 0.5vh;
  width: 30%;
 
}

.bluedot {
  height: 20px;
  width: 20px;
  background-color: green;
  box-shadow: 2.778px 15.757px 32px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  border: 3px solid #FFFFFF;

}

.dreamlastestdiv {
  position: relative;
  height: 60px;
  width: 100%;
  margin: 0 auto;
/* background-color: #1A1430; */
  margin-bottom: 0px;
  margin-top: 20px;
}

.dreamlastdiv {
  background-color: #1B70F0;
  
  width: 76%;
  margin-left: 12%;
  opacity: 0.1;
  top: 20px;
  position: absolute;
  height: 50px;

}

.dreamlastsecdiv {
  
  /* margin-left: 10%; */
  
  background-color: #1B70F0;
  
  position: absolute;
  top: 32px;
  width: 100%;
}

.deamlastthirddiv {
  background-color: #1B70F0;
  opacity: 0.4;
  width: 97%;
  top: 50px;
  height: 50px;
  position: absolute;

  margin-left: 1.5%;
}
.deamlastthirdlastdiv {
  margin-left: 3%;
  background-color: #1B70F0;
  opacity: 0.2;
  width: 94%;
  top: 60px;
  color: #1B70F0;
  height: 50px;
  position: absolute;
 
  /* margin-left: 13%; */
}

.alldreamnavp {
 
  width: 60%;
  /* background-color: yellow; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: rubiklight;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;

}

.dreamnav {
  font-family: Rubik;
  cursor: pointer;
  color: #FFFFFF;
  margin-top: 15px;
  
}



/* events */
.day01 {
  background-color: #1A1430;
  border-radius: 30px;
  width: 120px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Rubik;
  font-weight: 500;
  padding: 20px;
  color: #AEABBA;
  border: none;
  margin: 10px;
}


.day01:hover, .day02:hover, .day03:hover
{
  background-color: #1B70F0 !important;
  color: white;
  /* box-shadow: #2474eb 0px 1px 4px 2px;
  transition: box-shadow 0.5s ease; */


}

.eventmaindiv {
  position: relative;
  background-color: #140F27;
}

.eventtopdiv {
  padding-top: 50px;

}

.eventheading {
  color: white;
}



.eventsdivone {
  
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;

  border: 2px dashed #1D1734;
}

.divoneevent {
 
  width: 15%;
  box-sizing: border-box;
  border-right: 2px dashed #1D1734;
}

.divoneeventtext {
  
  width: 70%;
}

.eventsheading {
  font-family: Poppins;
  font-size: 15px;
  color: white;
  font-family: Poppins;
}

.eventtext {
 
  color: #AEABBA;
  letter-spacing: 1px;
  font-size: 13px;
  
  font-family: Poppins;
}

.enevtonetext {
  font-family: Rubik;
  font-weight: 300;
  font-size: 13px;
  color: #AEABBA;
  
}

.enevtsimg {
  padding: 5px;
}

.eventbtn {
  border: none;
  
  background-color: transparent;
  font-size: 10px;
  letter-spacing: 1px;
  font-family: Rubik;
  font-weight: 500;
  text-transform: uppercase;
  
  border: 1px solid #322952;
  width: 140px;
  margin-left: 85%;
  
  padding: 10px;
  color: white;
}

.divoneeventtwo {
  justify-content: space-around;
  
  display: flex;
  width: 80%;
  color: #AEABBA;
}

.headingofeventonr {
  font-size: 25px;
  font-family: Poppins;
  font-weight: 400;
  color: #ffffff;
}

.eventbtn2 {
  border: none;
  margin-top: 15%;
  background-color: #1A1430;
  border-radius: 30px;
  width: 150px;
  font: 8px;

  padding: 10px;
  color: white;
}
.upcomingimglastimgdiv{

  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enevtsimgbtn {
 
  padding: 0px 10px;
  
  width: 100px;
  height: 60px;
}

.eventcandy {
  width: 90px;
  position: absolute;
  left: 9%;
  top: 12%;
}

.eventcap {
  right: 15%;
  position: absolute;
  width: 90px;
  top: 14%;
}

.eventgift {
  bottom: 5%;
  position: absolute;
  left: 5%;
  width: 90px;
}

.eventbaaja {
  bottom: 15%;
  right: 9%;
  position: absolute;
  width: 70px;
}

.inputandbtnblog {
  /* background-color: orange; */
  width: 59%;
}

.inpurbloginnerdiv {
  background-color: white;
  /* background-color: #1B70F0; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* height:'50px'; */
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
}
.arrowimgsubs{
  width: 20%;
}
.blogarrow {
  background-color: #6100B3;
  color: white;
  font-size: 15px;
  /* width: 100%; */
  /* width: 130px; */
  /* height: 35px; */
  border: none;
  /* margin-right: 6px; */
  padding: 11.5px;
}
.blogarrowsubus {
  background-color: #6100B3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  gap: 3px;
  font-size: 11px;
  font-family: Rubik;
  font-weight: 500;
  letter-spacing: 1px;
  /* width: 100%; */
  /* width: 130px; */
  /* height: 35px; */
  border: none;
  /* margin-right: 6px; */
  padding: 11.5px;
}

.blogarrobtn {
  width: 20px;
  /* background-color: #1B70F0; */
  /* margin-bottom: 4px; */
  /* margin-left: 38px; */
}

.bloginputarea {
  outline: none;
  /* background-color: pink; */
  /* padding-left: 20px; */
  padding: 13px;
  font-size: 12px;
  width: 100%;
  border: none;
  margin-left: 0px !important;
}

.subscribemaindiv {
  margin-bottom: 0 !important;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 80px;
  position: relative;
}

.blogimgone {
  width: 100px;
  top: 35px;
  left: 60px;
  position: absolute;
}

.blogimgtwo {
  width: 100px;
  bottom: 35px;
  right: 60px;
  position: absolute;
}

.areyouhappymaindiv {
  margin-top: 0 !important;
  background-image: url('./components/images/backgroundimg.jpg');
}

.areyouhapptext {
  width: 60%;
  font-family: Poppins;
  color: white;
  /* background-color: yellow; */
  font-weight: 700;
  text-align: center;
  font-size: 35px;
  padding-top: 50px;
  /* margin-top: 60px; */
}

.icondiv {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  /* background-color: brown; */
}

.iconone {
  width: 70px;
}


/* footer */
.footermaindiv {
  padding-top: 60px;
  background-color: #140F27;
  /* background-color: yellow;
  margin: 0 !important;
  padding-right:0 !important ; */

}

.barkedlight {
  width: 140px;
  margin-bottom: 10px;
}

.footerblockonediv {
  /* margin: 0 !important; */
  /* width: 80%; */
  /* background-color: yellow; */
}

.footerblockone {
  /* margin: 0 !important; */
  list-style: none;

  color: #C4BEDA;
  /* margin-right: 15px; */
}

.footerblockone li {

  margin-top: 15px;
}
.footerlastdivimages{
  margin-top: 0px !important;
  height: 70px;

}

.footerblockoneheading {
  font-size: 20px;
  color: white;
}

.footerblockonebelowtext {
  color: #C4BEDA;
  ;
}

.footerlastdivheading {
  font-family: Poppins;
  font-size: 20px;
  color: white;
  font-weight: bold;
}


.investmentbtndream {
  font-size: 9px;
}

.footerbelowtext {
  /* background-color: orangered; */
  /* margin-left: 0px; */
  font-family: Poppins;
  font-weight: 300;
  color: #C4BEDA;
  font-size: 13px;
}

.footerlastdivimgandtext {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  /* background-color: #1B70F0; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.footerlastdivimgdiv {
  margin-top: 0px !important;
  /* background-color: #6100B3; */
}

.footerlastdivtextdiv {
  margin-left: 5px;
  text-align: start;
  width: 60%;

}

.makemaindivfooter {
  width: 75%;
  /* margin-top: 50px; */
  /* background-color: aqua; */
  margin: 0 auto;
  padding-bottom: 0px;
}

.footerbelowlasttext {
  font-family: rubiklight;
  font-size: 12px;
}

.lastestfooterblock {
  /* background-color: goldenrod; */
  border-top: 2px solid #1E1836;
  width: 95%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.lastestfooterblockimgdiv {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  /* background-color: olive; */
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.lastestfooterblocktext {
  color: #7E7798;
  font-family: Rubik;
  font-weight:300 ;
  font-size: 15px;
  width: 100%;
  /* vertical-align: middle; */
  margin: 20px;
}

.lastestfooterblockimgsolodiv {
  /* background-color: #1B70F0; */
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  border: 2.25614px solid #1E1836;
}

.lastestfooterblockimgsoloimg {
  /* vertical-align: middle; */
  /* margin-top: 10px; */
  cursor: pointer;
  margin: 20px;
  /* background-color: brown; */
}

.lastestfooterblockimgsolodiv:hover {
  border: 2.25614px solid #6100B3;

}

.featuredash {
  position: absolute;
  width: 30px;
  height: 2px;
  left: -38px;
  top: 7px;
  background: #1B70F0;
}
.popularcarddivsmall{
  width: 90%;
  /* background-color: #6100B3; */
  /* margin-left: 50px ; */
}
.navbardropdown{
  /* padding: 0px !important; */
  margin-top: 0px;
  padding-bottom: -10px !important;
}


.footerendcolums{
  width: 50%;
}
.uppersign{
  background-color: #6100B3;
 /* position: absolute; */
 bottom: 40px;
 right: 40px;
 padding: 15px 20px;
 border-radius: 30px;
 position: fixed;
 z-index: 100;
}
.uppersign:hover{
  transition: box-shadow 0.5s ease;
  box-shadow: #6100B3 0px 7px 29px 0px;
}









@media only screen and (max-width: 1200px) {
  .inputandbtnblog {
    /* background-color: orange; */
    width: 60%;
  }

  /* .inpurbloginnerdiv {
    background-color: white;
    /* height:'50px'; 
    padding-top: 5px;
    padding-bottom: 8px;
    margin-top: 15px;
  } */

  /* .blogarrow {
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    width: 80% !important;
    /* margin-left: 3% !important;
    margin-right: 3% !important; */
    /* width: 130px; */
    /* height: 35px; 
    border: none;
    /* margin-top: 0; 
    padding: 3px;
  } */

  /* .blogarrobtn {
    width: 20px;
    margin-left: 20px;
  }

  .bloginputarea {
    outline: none;
    padding-left: 20px;
    padding-bottom: 3.5px;
    font-size: 12px;
    width: 70%;
    /* background-color: pink; 
    border: none;
    margin-left: 10px;
  } */

  .areyouhapptext {
    width: 60%;
    font-family: Poppins;
    color: white;
    /* background-color: yellow; */
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    /* margin-top: 60px; */
  }

  .makemaindivfooter {
    width: 95%;
    /* margin-top: 50px; */
    /* background-color: aqua; */
    margin: 0 auto;
    padding-bottom: 0px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .eventcandy{
    left: 3%;
    width: 60px;
    top: 14%;
  }
  .eventcap{
    right: 5%;
    width: 60px;
    /* top: 12%; */
  }
  .eventgift{
    left: 2%;
    bottom: 2%;
    width: 60px;
  }
  .eventbaaja{
    bottom: 20%;
    right: 3%;
    width: 40px;
  }
  .blogimgone{
    width: 80px;
    left: 40px;

  }
  .blogimgtwo{
    width: 80px;
    right: 40px;

  }
}





@media only screen and (max-width: 1000px) {
  .inputandbtnblog {
    background-color: orange;
    width: 100%;
  }

  

  /* .inpurbloginnerdiv {
    background-color: white;
    /* height:'50px'; 
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  } */

  /* .blogarrow {
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    /* width: 130px; */
    /* height: 35px; 
    border: none;
    margin-top: 0;
    padding: 3px;
  } */

  /* .blogarrobtn {
    width: 20px;
    margin-left: 30px;
  }

  .bloginputarea {
    outline: none;
    padding-left: 20px;
    padding-bottom: 3.5px;
    font-size: 12px;
    width: 95% !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    margin-left: 3% !important;
    margin-right: 3%;
  } */

  .areyouhapptext {
    width: 90%;
    font-family: Poppins;
    color: white;
    /* background-color: yellow; */
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    /* margin-top: 60px; */
  }
}





@media only screen and (max-width: 990px) {
  .nav-link{
    
     margin-left: 30px;
   
  }
  .nav-linkbtn{
    
    padding: 15px 25px;
    margin: 0px;
   
  }
  .investmentheading{
    line-height: 35px;
  }
  .popularcarddiv {
    display: flex;
    /* background-color: #6100B3; */
    justify-content: space-around;
    /* margin-top: 20px; */
    flex-wrap: wrap;
    margin-bottom: 20px;
  
  }
}
@media only screen and (max-width: 900px) {
  .easiernumone {
    font-size: 100px;
  }

  .allnumbresdiv {
    /* display: flex; */
    height: 180px;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    /* background-color: #1B70F0; */
    justify-content: space-around;
  }

  .numonedetail {
    /* height: 50vh; */
    /* width: 180px; */
    /* background-color: orangered; */
    /* font-weight: bold; */
    /* color: #062A4D; */
    font-size: 15px;
    /* text-align: center; */
    /* font-family: Poppins; */
    /* margin-top:200px ; */

  }

  .alldreamnavp {
    width: 85%;
  }

  .enevtsimg {
    width: 40px;
  }

  .eventsheading {
    font-family: Poppins;
    font-size: 10px;
    color: white;
    /* font-family: Poppins; */
  }

  .divoneevent {
    margin-right: 4px;
    position: relative;
    /* background-color: yellowgreen; */
    width: 18%;
    box-sizing: border-box;
    border-right: 2px dashed #1D1734;
  }

  .eventtext {
    font-size: 10px;
    position: absolute;
    /* background-color: brown; */
    top: 60px;
  }

  .headingofeventonr {
    font-size: 18px;
    font-family: Poppins;
    font-weight: bold;
    color: #AEABBA;
  }

  .enevtonetext {
    font-family: rubiklight;
    font-size: 10px;
    color: white;
  }

  .eventbtn2 {
    border: none;
    margin: 10px;
    background-color: #1A1430;
    border-radius: 30px;
    width: 85px;
    font-size: 10px;
    /* height: 30px; */
    /* margin: 50px 0; */
    padding: 10px;
    color: white;
  }

  .day01 {
    background-color: #1A1430;
    border-radius: 30px;
    /* width: 80px; */
    text-transform: uppercase;
    font-size: 11px;
    padding: 10px;
    color: #AEABBA;
    border: none;
    margin: 10px;
  }

  .day02 {
    font-size: 11px;
    background-color: #1B70F0;
    border-radius: 30px;
    width: 80px;
    padding: 10px;
    color: #AEABBA;
    border: none;
    margin: 10px;
  }

  .day03 {
    font-size: 11px;
    border: none;
    margin: 10px;
    background-color: #1A1430;
    border-radius: 30px;
    width: 80px;
    padding: 10px;
    color: #AEABBA;
  }

  /* .inpurbloginnerdiv {
    background-color: white;
    /* height:'50px'; 
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  } */

  /* .blogarrow {
    background-color: #6100B3;
    color: white;
    font-size: 10px;
    /* width: 130px; */
  
    /* height: 35px; 
    border: none;
    padding: 10px;
    /* margin-left: 2%; 
  } */

  .blogarrobtn {
    margin-left: 10px;
  }

  .bloginputarea {
    /* background-color: pink; */
    outline: none;
    padding-left: 20px;
    font-size: 12px;
    /* width: 70%; */
    border: none;
    /* margin-left: 10px; */
  }
  .footerblockone{
    padding-left: 0px !important;
  }
  .footerendcolums{
    width: 100%;
    margin:  0 auto;
  }
  .lastestfooterblockimgdiv {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    /* background-color: olive; */
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .lastestfooterblocktext {
    color: #7E7798;
    font-family: Rubik;
    font-size: 15px;
    width: 100%;
    /* vertical-align: middle; */
    margin: 10px 0px;
    display: flex;
    justify-content: center;
  }
  .blogimgone{
    width: 70px;
    left: 20px;
    top: 20px;
  }
  .blogimgtwo{
    width: 70px;
    right: 20px;
    bottom: 20px;
  }

}













@media only screen and (max-width: 800px) {
  .inputandbtnblog {
    /* background-color: orange; */
    width: 100%;
  }

  /* .inpurbloginnerdiv {
    background-color: white;
    /* height:'50px'; 
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  } */

  /* .blogarrow {
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    /* width: 130px; */
    /* height: 35px; */
    /* margin-left: 50px; 
    border: none;
    margin-top: 0;
    padding: 3px;
  } */

  /* .blogarrobtn {
    width: 20px;
    margin-left: 10px;
  }

  .bloginputarea {
    outline: none;
    padding-left: 20px;
    padding-bottom: 3.5px;
    font-size: 12px;
    width: 65%;
    /* background-color: pink; 
    border: none;
    margin-left: 10px;
  } */

  .blogimgone {
    /* width: 50px; */
    top: 30px;
    left: 15px;
    position: absolute;
  }

  .blogimgtwo {
    /* width: 50px; */
    bottom: 15px;
    right: 30px;
    position: absolute;
  }
}



@media only screen and (max-width: 700px) {
  .inputandbtnblog {
    /* background-color: orange; */
    width: 100%;
  }

  /* .inpurbloginnerdiv {
    background-color: white;
    /* height:'50px'; 
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  } */

  /* .blogarrow {
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    /* width: 130px; */
    /* height: 35px; */
    /* margin-left: 50px; 
    border: none;
    margin-top: 0;
    padding: 3px;
  } */

  .blogarrobtn {
    width: 20px;
    /* margin-left: 10px; */
  }

  .bloginputarea {
    outline: none;
    padding-left: 20px;
    /* padding-bottom: 3.5px; */
    font-size: 12px;
    width: 60%;
    /* background-color: pink; */
    border: none;
    /* margin-left: 10px; */
  }

  /* .blogimgone {
    width: 75px;
    top: 30px;
    left: 30px;
    position: absolute;
  } */

  /* .blogimgtwo {
    width: 75px;
    bottom: 30px;
    right: 30px;
    position: absolute;
  } */

  .areyouhapptext {
    width: 90%;
    font-family: Poppins;
    color: white;
    /* background-color: yellow; */
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    /* margin-top: 60px; */
  }
  .investmentbtn{
    margin-left: 60%;
  }
  .eventbtn{
    margin-left: 50%;
    
  }
  .investmentheading{
    font-size: 25px;
  }

  
}





@media only screen and (max-width: 600px) {
  /* .easiernumone {
    font-size: 80px;
  } */
  .deamlastthirdlastdiv{
    top: 45px;
  }
  .blogarrowsubus {
    background-color: #6100B3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    gap: 3px;
    font-size: 9px;
    font-family: Rubik;
    font-weight: 500;
    letter-spacing: 0px;
    /* width: 100%; */
    /* width: 130px; */
    /* height: 35px; */
    border: none;
    /* margin-right: 6px; */
    padding: 11.5px;
  }
  .numonedetail {
    /* height: 50vh; */
    /* width: 180px; */
    /* background-color: orangered; */
    font-size: 10px;
    font-weight: bold;
    color: #062A4D;
    text-align: center;
    font-family: Poppins;
    /* margin-top:200px ; */

  }

  .alldreamnavp {
    width: 90%;
  }

  .headingofeventonr {
    font-size: 13px;
    font-family: Poppins;
    font-weight: bold;
    color: #AEABBA;
  }

  .eventbtn2 {
    border: none;
    margin-top: 30%;
    background-color: #1A1430;
    border-radius: 30px;
    width: 85px;
    font-size: 10px;
    /* height: 30px; */
    /* margin: 50px 0; */
    padding: 10px;
    color: white;
  }

  .eventtext {
    font-size: 10px;
    position: absolute;
    /* background-color: brown; */
    top: 80px;
  }
  
  .eventcandy {
    width: 40px;
    /* position: absolute; */
    left: 5%;
    top: 15%;
  }

  .eventcap {
    right: 5%;
    position: absolute;
    width: 40px;
    top: 20%;
  }

  .eventgift {
    bottom: 4%;
    position: absolute;
    left: 5%;
    width: 40px;
  }
  
  .eventbaaja {
    bottom: 20%;
    right: 3%;
    position: absolute;
    width: 40px;
  }
  
  .inputandbtnblog {
    /* background-color: orange; */
    width: 100%;
  }
  
  /* .inpurbloginnerdiv {
    background-color: white;
    /* height:'50px'; 
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  } */

  /* .blogarrow {
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    /* width: 130px; */
    /* height: 35px; */
    /* margin-left: 20px; 
    border: none;
    margin-top: 0;
    padding: 3px;
  } */
  
  /* .blogarrobtn {
    width: 20px;
    margin-left: 10px;
  }

  .bloginputarea {
    outline: none;
    padding-left: 20px;
    padding-bottom: 3.5px;
    font-size: 12px;
    width: 60%;
    /* background-color: pink; 
    border: none;
    margin-left: 10px;
  } */

  /* .blogimgone {
    width: 60px;
    top: 30px;
    left: 10px;
    position: absolute;
  } */

  /* .blogimgtwo {
    width: 60px;
    bottom: 30px;
    right: 10px;
    position: absolute;
  } */

  .iconone {
    width: 60px;
  }
  .popularcarddivsmall{
    width: 100%;
    margin-left: 0px !important;
  }

}










@media only screen and (max-width: 500px) {
  
  .makemaindiv{
    width: 95%;
  }
  .homedivonetext {
    /* font-family: Poppins; */
    font-size: 35px;
    /* padding: 10px;
    font-weight: bold;
    background-color: yellow; */
    /* margin-top: 100px; */
  }
  
  .headphonepic {
    /* width: 100px; */
    /* background-color: palevioletred; */
    /* left: 15px; */
    right: 60%;
    bottom: 60%;
    /* top: 10px; */
    /* position: absolute; */
  }
  
  .homeimagelevels {
    /* position: relative; */
    width: 500px;
    /* height: 300px; */
    margin: 10px;
    /* background-color: purple; */
  }

  .planboxtext {
    font-size: 15px;
    /* background-color: aqua; */
  }

  .planboxinner {
    width: 80%;
  }

  .planboxsmalldivs {
    /* background-color: blue; */
    margin-top: 10px;
    width: 100%;

  }

  .makemaindiv {
    /* background-color: brown; */
    /* width: 80%; */
    /* margin-bottom: 80px; */
  }

  .investmentbtn {
    margin-left: 60%;
    width: 120px;
    font-size: 9px;
  }

  .investmentheading {
    font-size: 25px;
  }

  .easiernumone {
    font-size: 60px;
    /* text-align: center; */
    /* background-color: greenyellow; */
    /* font-weight: bolder; */
    /* color: #F6FBFF; */
    /* font-family: Poppins; */
  }

  .allnumbresdiv {
    /* display: flex; */
    height: 110px;
    width: 75%;
    /* margin: 0 auto; */
    /* align-items: center; */
    /* background-color: #1B70F0; */
    /* justify-content: space-around; */
  }

  .bluedot {
    height: 15px;
    width: 15px;
    /* background-color: green; */
    box-shadow: 2.778px 5.757px 32px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    /* border: 3px solid #FFFFFF; */

  }

  .alldreamnavp {
    width: 100%;
    /* padding: 3px 0; */
    font-size: 9px;
  }

  .dreamlastsecdiv {
    width: 100%;
    margin-left: 0;
  }
  
  .deamlastthirddiv {
    height: 45px;
    /* width: 90%; */
    /* margin-left: 10px; */
  }
  
  .dreamlastdiv {
    
    /* height: 50px; */
    width: 80%;
    margin-left: 10%;
    
    height: 45px;
    
  }

  .popcardpricebelow {
    font-size: 8px;
  }

  .investmentheading {
    font-size: 20px;
  }

  .investmentbtndream {
    font-size: 8px;
    padding: 10px 5px;
  }

  .eventbtn2 {
    border: none;
    margin-top: 40%;
    background-color: #1A1430;
    border-radius: 30px;
    width: 65px;
    margin-left: 60%;
    font-size: 10px;
    /* height: 30px; */
    /* margin: 50px 0; */
    padding: 10px;
    color: white;
  }
  
  .eventsheading {
    font-family: Poppins;
    font-size: 9px;
    color: white;
    /* font-family: Poppins; */
  }
  
  .eventtext {
    font-size: 8px;
    position: absolute;
    /* background-color: brown; */
    top: 80px;
  }
  
  .headingofeventonr {
    font-size: 12px;
    font-family: Poppins;
    font-weight: bold;
    color: #AEABBA;
  }

  .enevtonetext {
    font-family: rubiklight;
    font-size: 9px;
    color: white;
    /* font-family: Poppins; */
  }

  .enevtsimgbtn {
    /* background-color: yellow; */
    /* margin-top: 75%; */
    /* margin: auto 0; */
    width: 60px;
    height: 50px;
  }

  .day01 {
    background-color: #1A1430;
    border-radius: 30px;
    width: 70px;
    font-size: 9px;
    font-family: Rubik;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    color: #AEABBA;
    border: none;
    margin: 10px;
  }
  
  .day02 {
    font-size: 11px;
    background-color: #1B70F0;
    border-radius: 30px;
    width: 60px;
    padding: 10px;
    color: white;
    border: none;
    margin: 10px;
  }
  
  .day03 {
    font-size: 11px;
    border: none;
    margin: 10px;
    background-color: #1A1430;
    border-radius: 30px;
    width: 60px;
    padding: 10px;
    color: white;
  }
  
  .eventcandy {
    width: 30px;
    position: absolute;
    left: 5%;
    top: 16%;
  }
  
  .eventcap {
    right: 8%;
    position: absolute;
    width: 30px;
    top: 17%;
  }

  .eventgift {
    bottom: 3%;
    position: absolute;
    left: 5%;
    width: 30px;
  }
  
  .eventbaaja {
    bottom: 25%;
    right: 5%;
    position: absolute;
    width: 30px;
  }
  
  .inputandbtnblog {
    /* background-color: orange; */
    width: 100%;
  }
  
  
  /* .inpurbloginnerdiv {
    background-color: white;
    /* height:'50px'; 
    /* padding-left: 1px; 
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  } */
  
  /* .blogarrow {
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    /* width: 100px; */
    /* height: 35px; 
    border: none;
    margin-top: 0;
    padding: 3px;
    /* margin-left: 5px; 
  } */

  /* .blogarrobtn {
    width: 20px;
    margin-left: 10px;
  }
  
  .bloginputarea {
    outline: none;
    padding-left: 10px;
    padding-bottom: 3.5px;
    font-size: 12px;
    width: 60%;
    /* background-color: pink; 
    border: none;
    margin-left: 7px;
  } */

  .blogimgone {
    /* width: 60px; */
    top: 10px;
    /* left: 10px; */
    position: absolute;
  }

  .blogimgtwo {
    /* width: 60px; */
    bottom: 10px;
    /* right: 10px; */
    position: absolute;
  }

  .areyouhapptext {
    width: 100%;
    font-family: Poppins;
    color: white;
    /* background-color: yellow; */
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
    /* margin-top: 60px; */
  }

  .iconone {
    width: 40px;
  }

  .lastestfooterblockimgsolodiv {
    /* background-color: #1B70F0; */
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: 2.25614px solid #1E1836;
  }

  .lastestfooterblockimgsoloimg {
    /* vertical-align: middle; */
    /* margin-top: 10px; */
    cursor: pointer;
    margin: 10px;
    /* background-color: brown; */
  }
  .popularmaindiv{
    width: 94% !important;
  }
  .dreamcometruebtn{
    margin-left: 20%;
  }

}
@media only screen and (max-width: 400px) {
      .investmentheading{
        font-size: 17px;
      }
      .featuredash{
        width: 20px;
        left:-24px
      }
      .ourfeaturetextinvest{
        margin-left: 27px;
      }
      .investmentbtn{
        padding: 7px 15px;
        letter-spacing: 1px;
        width: auto;
        /* line-height: 3px; */
      }
      .navbarlogo{
        margin-left: 20px;
        margin-right: 10px;
        width: 170px;
      }
      .ourfeaturetextinvestsubs {
        margin-left: 25px;
      }
    }
    