/* import bgimg from './' */


@font-face {
  font-family: poppiens;
  src: url(./components/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: rubik;
  src: url(./components/fonts/Rubik-Bold.ttf);
}
@font-face {
  font-family: rubiklight;
  src: url(./components/fonts/Rubik-Light.ttf);
}

.homesupermaindiv{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: #FDF3FB
  ;
  margin-bottom: 30px;
}

.homedivone{
  /* background-color: aqua; */
  width: 650px;
  /* margin-top: 20px; */
  margin: 10px;
  /* position: relative; */
}
.prgressanddetails{
  /* background-color: brown; */
  /* width: 90%; */
  margin: 10px;
}
.homeprogressdetails{
  /* background-color: lightsalmon; */
  display: flex;
  justify-content: space-between;
}
.homepricedetails{
  font-family: rubik;
  font-size: 10px;
  /* background-color: orangered; */
  line-height: -10px;
}
.homepriceone{
  /* background-color: olive; */
  font-family: poppiens;
  font-size: 30px;
  font-weight: bold;
  color: #19142E;
}
.homedivonetext{
  font-family: poppiens;
  font-size: 50px;
  padding: 10px;
  font-weight: bold;
  /* background-color: yellow; */
  margin-top: 100px;
}
.homeimagelevels{
  width: 500px;
  position: relative;
  /* height: 300px; */
  margin: 10px;
  /* background-color: purple; */
}
.imagelevels{
margin-left: 10%;
  width: 90%;
 
}
.headphonepic{
  width: 40%;
  /* background-color: palevioletred; */
  right: 75%;
  bottom: 50%;
  position: absolute;
}


/* plan box */
.planboxmain{
  background-color: hsl(330, 4%, 91%);
  width: 90%;
  margin-left: 10%;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.planboxinner{
  width: 70%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  border-top: 4px solid #1E1E1E;;
  /* margin-right: 20%; */
  /* background-color: aqua; */
}
.planboxsmalldivs{
  /* background-color: blue; */
  margin-top: 10px;
  width: 270px;
  /* width: 100%; */
}
.planboxtext{
  font-family: poppiens;
  font-weight: bold;
}


/* make investment main  */

.makemaindiv{
  width: 65%;
  /* margin-top: 50px; */
  /* background-color: aqua; */
  margin: 0 auto;
  padding-bottom: 50px;
}
.ourfeaturetext{
  color: #1B70F0;
  text-transform: uppercase;
  /* background-color: palevioletred; */
  letter-spacing: 2px;
font-size: 12px;
font-family: rubik;
}
.investmentbtn{
  font-family: rubik;
  width: 130px;
  /* margin-bottom: 10px; */
  margin-left: 85%;
  text-transform: uppercase;
  border: 1px solid gray;
  background-color: white;
  font-size: 12px;
  color: #062A4D;
  font-weight: bold;
  /* display: flex; */
  /* align-items: rignt; */
  padding: 10px;
}
.investmentheading{
  color: #062A4D;
  font-size: 30px;
  font-family: poppiens;
  letter-spacing: -1px;

  /* background-color: yellow; */
}


.investcard{
  /* background-color: brown; */
  width: 270px;
}
.cardheading{
  font-size: 20px;
  font-family: poppiens;
  color: #062A4D;
  text-align: center;
}
.cardtext{
  color: #6F7172;
  font-size: 12px;
  line-height: 20px;
  font-family:rubik;
  text-align: center;
  padding: 5px;
}
  
.investcardimg{
  margin: 0 auto;
  
  padding: 5px;
  width: 240px;
  height: 220px;
  /* background-color: aqua; */
}
.investcarddiv{
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/* popular series */
.popularmaindiv{
  width: 75%;
  margin: 0 auto;
}
.popularsuparmaindiv{
  padding: 20px;
  /* margin-bottom: 50px; */
  background-color: #F9FAFF;

}
.populartextblue{
  color: #1B70F0;
  /* background-color: palevioletred; */
  letter-spacing: 2px;
font-size: 12px;
font-family: rubik;
text-align: center;
}
.popularheading{
  color: #062A4D;
  font-size: 30px;
  font-family: poppiens;
  letter-spacing: -1px;
  text-align: center;
}
/* pop card */
.popcardheading{
  font-size: 15px;
  font-weight: bold;
  color: #062A4D;
}
.popprogressprice{
  /* background-color: brown; */
  width: 80%;
}
.poppriceanddetail{
  display: flex;
  /* background-color: yellow; */
  justify-content: space-between;
}
.popcardprice{
  font-weight: bold;
  color: #6F7172;
}
.popcardpricedetail{
  color: #062A4D;
  font-weight: bold;
  font-size: 12px;
}
.poppriceanddetailbelow{
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
  border-top: 1px solid rgb(224, 224, 224);
}
.popcardpricebelow{
  font-size: 12px;
  font-weight: 500;
  color: #3A516C;
  text-transform: uppercase;

}
.popularcarddiv{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 80px;
  /* background-color: yellow; */
}


.popmoreproj{
  font-family: rubik;
  width: 150px;
  /* margin-bottom: 10px; */
  /* margin-left: 85%; */
  text-transform: uppercase;
  border: 1px solid gray;
  background-color: white;
  font-size: 12px;
  color: #062A4D;
  font-weight: bold;
  margin: 0 auto;
  
  /* display: flex; */
  /* align-items: rignt; */
  padding: 10px;
}


/* make it easier */
.easiernumone{
  text-align: center;
  font-size: 150px;
  /* background-color: greenyellow; */
  font-weight: bolder;
  color: #F6FBFF;
  /* position: absolute; */
  /* right: 1px; */
  font-family: poppiens;
}
.easiernumbres{
  /* background-color: yellow; */
  /* position: absolute; */
  /* width: 100px; */
}
.allnumbresdiv{
  display: flex;
  height: 250px;
  width: 75%;
  margin: 0 auto;
  align-items: center;
  /* background-color: #1B70F0; */
  justify-content: space-around;
}
.lineandnumbers{
  position: relative;

}
.allnumberdivtwo{
  position: absolute;
  width: 100%;
  top: 10px;
  display: flex;
  justify-content: space-around;
  /* background-color: forestgreen; */

}
.easiernumbresone{
  /* background-color: yellow; */
  /* right: 265px; */
  /* left: 10px; */
  /* position: absolute; */
}
.easiernumbrestwo{
  /* background-color: yellow; */
  /* position: absolute; */
  /* right: 165px; */
}
.easiernumbresthree{
  /* background-color: yellow; */
  /* right: 10px; */
  /* position: absolute; */
}
.numonedetail{
  /* height: 50vh; */
  /* width: 180px; */
  /* background-color: orangered; */
  font-weight: bold;
  color: #062A4D;
  text-align: center;
  font-family: poppiens;
  /* margin-top:200px ; */

}
.lineone{
  /* background-color: orange; */
  height: 0.5vh;
/* margin-top: 10px; */
  /* position: absolute; */
  /* top: 35%; */
  /* right: 50%; */
  width: 30%;
}
.bluedot{
  height: 20px;
  width: 20px;
  background-color: green;
  box-shadow: 2.778px 15.757px 32px rgba(0, 0, 0, 0.4);
border-radius: 30px;
border: 3px solid #FFFFFF;

}
.dreamlastestdiv{
  position: relative;
  height: 60px;
  width: 100%;
  margin: 0 auto ;
  /* background-color: orangered; */
  margin-bottom: 10px;
}
.dreamlastdiv{
  background-color: #1B70F0;
  /* height: 50px; */
  width: 76%;
  margin-left: 12%;
  opacity: 0.1;
  top: 20px;
  position: absolute;
  height: 50px;
  
}
.dreamlastsecdiv{
  /* align-content: center; */
  /* margin: 0 auto; */
  margin-left: 10%;
  /* width: 60%; */
  background-color: #1B70F0;
  /* opacity: 0.3; */
  position: absolute;
  top: 2px;
  width: 80%;
}
.deamlastthirddiv{
  background-color: #1B70F0;
  opacity: 0.3;
  width: 78%;
  top: 12px;
  height: 50px;
  position: absolute;
  /* background-color: green; */
  margin-left: 11%;
}
.alldreamnavp{
  /* background-color: greenyellow; */
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: rubiklight;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;

}
.dreamnav{
  color: #FFFFFF;
  margin-top: 15px;
  /* background-color: yellow; */
}



/* events */
.day01{
  background-color: #1A1430;
  border-radius: 30px;
  width: 120px;
  padding: 10px;
  color: white;
  border: none;
  margin: 10px;
}
.day02{
  background-color: #1B70F0;
  border-radius: 30px;
  width: 120px;
  padding: 10px;
  color: white;
  border: none;
  margin: 10px;
}
.day03{
  border: none;
  margin: 10px;
  background-color: #1A1430;
  border-radius: 30px;
  width: 120px;
  padding: 10px;
  color: white;
}
.eventmaindiv{
  position: relative;
  background-color: #140F27;
}
.eventtopdiv{
  padding-top: 50px;
  
}
.eventheading{
  color: white;
}
.eventbtn{
  border: 2px solid #322952;
color: white;
background-color: transparent;
}
.eventsdivone{
  /* background-color: orange; */
  /* height: 150px; */
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;

  border: 2px dashed #1D1734;
}
.divoneevent{
  /* background-color: yellowgreen; */
  width: 15%;
  box-sizing: border-box;
  border-right: 2px dashed #1D1734;
}
.divoneeventtext{
  /* background-color: yellowgreen; */
  width: 70%;
}
.eventsheading{
  font-family: poppiens;
  font-size: 15px;
  color: white;
  font-family: poppiens;
}
.eventtext{
  /* font-family: rubiklight; */
  color: #AEABBA;
  font-size: 13px;
  /* color: white; */
  font-family: poppiens;
}
.enevtonetext{
  font-family: rubiklight;
  font-size: 13px;
  color: white;
  /* font-family: poppiens; */
}
.enevtsimg{
  padding: 5px;
}
.eventbtn{
  border: none;
  margin: 10px;
  background-color: #1A1430;
  border-radius: 30px;
  width: 140px;
  margin-left: 79%;
  /* height: 30px; */
  /* margin: 40px 0; */
  padding: 10px;
  color: white;
}
.divoneeventtwo{
  justify-content: space-around;
  /* background-color: #1B70F0; */
  display: flex;
  width: 80%;
  color: #AEABBA;
}
.headingofeventonr{
  font-size: 25px;
  font-family: poppiens;
font-weight: bold;
color: #AEABBA;
}
.eventbtn2{
  border: none;
  margin-top:15% ;
  background-color: #1A1430;
  border-radius: 30px;
  width: 150px;
  font: 8px;
  /* height: 30px; */
  /* margin: 50px 0; */
  padding: 10px;
  color: white;
}

.enevtsimgbtn{
  /* background-color: yellow; */
  margin-top: 35%;
  width: 50px;
  height: 50px;
}
.eventcandy{
  width: 100px;
  position: absolute;
  left: 5%;
  top: 10%;
}
.eventcap{
  right: 10%;
  position: absolute;
  width: 100px;
  top: 15%;
}
.eventgift{
  bottom: 5%;
  position: absolute;
  left: 5%;
  width: 100px;
}
.eventbaaja{
  bottom: 15%;
  right: 5%;
  position: absolute;
  width: 100px;
}
.inputandbtnblog{
  /* background-color: orange; */
  width: 59%;
}
.inpurbloginnerdiv{
  background-color: white;
  /* height:'50px'; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
}
.blogarrow{
  background-color: #6100B3;
  color: white;
  font-size: 15px;
  /* width: 130px; */
  /* height: 35px; */
  border: none;
  padding: 11.5px;
}
.blogarrobtn{
  margin-left: 38px;
}
.bloginputarea{
  outline:none ;
  /* background-color: pink; */
  padding-left:20px;
   font-size:12px;
   width:65%;
   border:none ;
   margin-left :10px;
}
.subscribemaindiv{
  padding: 10px;
  position: relative;
}
.blogimgone{
  width: 100px;
  top: 30px;
  left: 40px;
  position: absolute;
}
.blogimgtwo{
  width: 100px;
  bottom: 30px;
  right: 40px;
  position: absolute;
}
.areyouhappymaindiv{
  background-image: url('./components/images/backgroundimg.jpg');
}
.areyouhapptext{
  width: 60%;
  font-family: poppiens;
  color: white;
  /* background-color: yellow; */
  text-align: center;
  font-size: 35px;
  padding-top: 50px;
  /* margin-top: 60px; */
}
.icondiv{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  /* background-color: brown; */
}
.iconone{
  width: 70px;
}


/* footer */
.footermaindiv{
  padding-top: 30px;
  background-color: #140F27;

}
.barkedlight{
  width: 100px;
  margin-bottom: 20px;
}
.footerblockonediv{
  /* background-color: yellow; */
}
.footerblockone{
  list-style: none;
  color: #C4BEDA;

}
.footerblockone li {
  margin-top: 10px;
}
.footerblockoneheading{
  font-size: 20px;
  color: white;
}
 









@media only screen and (max-width: 1200px) {
  .inputandbtnblog{
    /* background-color: orange; */
    width: 60%;
  }
  .inpurbloginnerdiv{
    background-color: white;
    /* height:'50px'; */
    padding-top: 5px;
    padding-bottom: 8px;
    margin-top: 15px;
  }
  .blogarrow{
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    /* width: 130px; */
    /* height: 35px; */
    border: none;
    margin-top: 0;
    padding: 3px;
  }
  .blogarrobtn{
    width: 20px;
    margin-left: 20px;
  }
  .bloginputarea{
    outline:none ;
    padding-left:20px;
    padding-bottom:3.5px;
     font-size:12px;
     width:70%;
     /* background-color: pink; */
     border:none ;
     margin-left :10px;
  }
  .areyouhapptext{
    width: 60%;
    font-family: poppiens;
    color: white;
    /* background-color: yellow; */
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    /* margin-top: 60px; */
  }
}





@media only screen and (max-width: 1000px) {
  .inputandbtnblog{
    /* background-color: orange; */
    width: 100%;
  }
  .inpurbloginnerdiv{
    background-color: white;
    /* height:'50px'; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  }
  .blogarrow{
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    /* width: 130px; */
    /* height: 35px; */
    border: none;
    margin-top: 0;
    padding: 3px;
  }
  .blogarrobtn{
    width: 20px;
    margin-left: 30px;
  }
  .bloginputarea{
    outline:none ;
    padding-left:20px;
    padding-bottom:3.5px;
     font-size:12px;
     width:75%;
     /* background-color: pink; */
     border:none ;
     margin-left :10px;
  }
  .areyouhapptext{
    width: 90%;
    font-family: poppiens;
    color: white;
    /* background-color: yellow; */
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    /* margin-top: 60px; */
  }
}





@media only screen and (max-width: 900px) {
  .easiernumone{
    font-size: 100px;
  }
  .allnumbresdiv{
    /* display: flex; */
    height: 180px;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    /* background-color: #1B70F0; */
    justify-content: space-around;
  }
  .numonedetail{
    /* height: 50vh; */
    /* width: 180px; */
    /* background-color: orangered; */
    /* font-weight: bold; */
    /* color: #062A4D; */
    font-size: 15px;
    /* text-align: center; */
    /* font-family: poppiens; */
    /* margin-top:200px ; */
  
  }
  .alldreamnavp{
    width: 85%;
  }
  .enevtsimg{
    width: 40px;
  }
  .eventsheading{
    font-family: poppiens;
    font-size: 10px;
    color: white;
    /* font-family: poppiens; */
  }
  .divoneevent{
    margin-right: 4px;
    position: relative;
    /* background-color: yellowgreen; */
    width: 18%;
    box-sizing: border-box;
    border-right: 2px dashed #1D1734;
  }
.eventtext{
  font-size: 10px;
  position: absolute;
  /* background-color: brown; */
  top: 60px;
}
.headingofeventonr{
  font-size: 18px;
  font-family: poppiens;
font-weight: bold;
color: #AEABBA;
}
.enevtonetext{
  font-family: rubiklight;
  font-size: 10px;
  color: white;
}
.eventbtn2{
  border: none;
  margin: 10px;
  background-color: #1A1430;
  border-radius: 30px;
  width: 85px;
  font-size: 10px;
  /* height: 30px; */
  /* margin: 50px 0; */
  padding: 10px;
  color: white;
}
.day01{
  background-color: #1A1430;
  border-radius: 30px;
  width: 80px;
  font-size: 11px;
  padding: 10px;
  color: white;
  border: none;
  margin: 10px;
}
.day02{
  font-size: 11px;
  background-color: #1B70F0;
  border-radius: 30px;
  width: 80px;
  padding: 10px;
  color: white;
  border: none;
  margin: 10px;
}
.day03{
  font-size: 11px;
  border: none;
  margin: 10px;
  background-color: #1A1430;
  border-radius: 30px;
  width: 80px;
  padding: 10px;
  color: white;
}
.inpurbloginnerdiv{
  background-color: white;
  /* height:'50px'; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
}
.blogarrow{
  background-color: #6100B3;
  color: white;
  font-size: 10px;
  /* width: 130px; */
  /* height: 35px; */
  border: none;
  padding: 10px;
  margin-left: 40px;
}
.blogarrobtn{
  margin-left: 10px;
}
.bloginputarea{
  /* background-color: pink; */
  outline:none ;
  padding-left:20px;
   font-size:12px;
   width:70%;
   border:none ;
   margin-left :10px;
}

}













@media only screen and (max-width: 800px) {
  .inputandbtnblog{
    /* background-color: orange; */
    width: 100%;
  }
  .inpurbloginnerdiv{
    background-color: white;
    /* height:'50px'; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  }
  .blogarrow{
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    /* width: 130px; */
    /* height: 35px; */
    margin-left: 50px;
    border: none;
    margin-top: 0;
    padding: 3px;
  }
  .blogarrobtn{
    width: 20px;
    margin-left: 10px;
  }
  .bloginputarea{
    outline:none ;
    padding-left:20px;
    padding-bottom:3.5px;
     font-size:12px;
     width:65%;
     /* background-color: pink; */
     border:none ;
     margin-left :10px;
  }
  .blogimgone{
    width: 80px;
    top: 30px;
    left: 40px;
    position: absolute;
  }
  .blogimgtwo{
    width: 80px;
    bottom: 30px;
    right: 40px;
    position: absolute;
  }
}



@media only screen and (max-width: 700px) {
  .inputandbtnblog{
    /* background-color: orange; */
    width: 100%;
  }
  .inpurbloginnerdiv{
    background-color: white;
    /* height:'50px'; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  }
  .blogarrow{
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    /* width: 130px; */
    /* height: 35px; */
    margin-left: 50px;
    border: none;
    margin-top: 0;
    padding: 3px;
  }
  .blogarrobtn{
    width: 20px;
    margin-left: 10px;
  }
  .bloginputarea{
    outline:none ;
    padding-left:20px;
    padding-bottom:3.5px;
     font-size:12px;
     width:60%;
     /* background-color: pink; */
     border:none ;
     margin-left :10px;
  }
  .blogimgone{
    width: 75px;
    top: 30px;
    left: 30px;
    position: absolute;
  }
  .blogimgtwo{
    width: 75px;
    bottom: 30px;
    right: 30px;
    position: absolute;
  }
  .areyouhapptext{
    width: 90%;
    font-family: poppiens;
    color: white;
    /* background-color: yellow; */
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    /* margin-top: 60px; */
  }
}





@media only screen and (max-width: 600px) {
  .easiernumone{
    font-size: 80px;
  }
  .numonedetail{
    /* height: 50vh; */
    /* width: 180px; */
    /* background-color: orangered; */
    font-size: 10px;
    font-weight: bold;
    color: #062A4D;
    text-align: center;
    font-family: poppiens;
    /* margin-top:200px ; */
  
  }
  .alldreamnavp{
    width: 90%;
  }
  .headingofeventonr{
    font-size: 13px;
    font-family: poppiens;
  font-weight: bold;
  color: #AEABBA;
  }
  .eventbtn2{
    border: none;
    margin-top: 30%;
    background-color: #1A1430;
    border-radius: 30px;
    width: 85px;
    font-size: 10px;
    /* height: 30px; */
    /* margin: 50px 0; */
    padding: 10px;
    color: white;
  }
  .eventtext{
    font-size: 10px;
    position: absolute;
    /* background-color: brown; */
    top: 80px;
  }
  .eventcandy{
    width: 60px;
    position: absolute;
    left: 5%;
    top: 10%;
  }
  .eventcap{
    right: 10%;
    position: absolute;
    width: 60px;
    top: 15%;
  }
  .eventgift{
    bottom: 5%;
    position: absolute;
    left: 5%;
    width: 60px;
  }
  .eventbaaja{
    bottom: 15%;
    right: 5%;
    position: absolute;
    width: 60px;
  }
  .inputandbtnblog{
    /* background-color: orange; */
    width: 100%;
  }
  .inpurbloginnerdiv{
    background-color: white;
    /* height:'50px'; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  }
  .blogarrow{
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    /* width: 130px; */
    /* height: 35px; */
    margin-left: 20px;
    border: none;
    margin-top: 0;
    padding: 3px;
  }
  .blogarrobtn{
    width: 20px;
    margin-left: 10px;
  }
  .bloginputarea{
    outline:none ;
    padding-left:20px;
    padding-bottom:3.5px;
     font-size:12px;
     width:60%;
     /* background-color: pink; */
     border:none ;
     margin-left :10px;
  }
  .blogimgone{
    width: 60px;
    top: 30px;
    left: 10px;
    position: absolute;
  }
  .blogimgtwo{
    width: 60px;
    bottom: 30px;
    right: 10px;
    position: absolute;
  }
  .iconone{
    width: 60px;
  }

}










@media only screen and (max-width: 500px) {

  .homedivonetext{
    /* font-family: poppiens; */
    font-size: 35px;
    /* padding: 10px;
    font-weight: bold;
    background-color: yellow; */
    /* margin-top: 100px; */
  }
  .headphonepic{
    /* width: 100px; */
    /* background-color: palevioletred; */
    /* left: 15px; */
    right: 60%;
    bottom: 60%;
    /* top: 10px; */
    /* position: absolute; */
  }
  .homeimagelevels{
    /* position: relative; */
    width: 500px;
    /* height: 300px; */
    margin: 10px;
    /* background-color: purple; */
  }
  .planboxtext{
    font-size: 15px;
    /* background-color: aqua; */
  }
  .planboxinner{
    width: 80%;
  }
  .planboxsmalldivs{
    /* background-color: blue; */
    margin-top: 10px;
    width: 100%;
    
  }
  .makemaindiv{
    /* background-color: brown; */
    width: 80%;
    /* margin-bottom: 80px; */
  }
  .investmentbtn{
    margin-left: 60%;
    width: 100px;
    font-size: 10px;
  }
  .investmentheading{
    font-size: 25px;
  }
  .easiernumone{
    font-size: 60px;
    /* text-align: center; */
    /* background-color: greenyellow; */
    /* font-weight: bolder; */
    /* color: #F6FBFF; */
    /* font-family: poppiens; */
  }
  .allnumbresdiv{
    /* display: flex; */
    height: 110px;
    width: 75%;
    /* margin: 0 auto; */
    /* align-items: center; */
    /* background-color: #1B70F0; */
    /* justify-content: space-around; */
  }
  .bluedot{
    height: 15px;
    width: 15px;
    /* background-color: green; */
    box-shadow: 2.778px 5.757px 32px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  /* border: 3px solid #FFFFFF; */
  
  }
  .alldreamnavp{
    width: 100%;
    /* padding: 3px 0; */
    font-size: 9px;
  }
  .dreamlastsecdiv{
    width: 100%;
    margin-left: 0;
  }
  .deamlastthirddiv{
    height: 45px;
    width: 90%;
    margin-left: 10px;
  }
  .dreamlastdiv{
    
    /* height: 50px; */
    width: 80%;
    margin-left: 10%;
    
    height: 45px;
    
  }
  .popcardpricebelow{
    font-size: 8px;
  }
  .investmentheading{
    font-size: 20px;
  }
  .investmentbtndream{
    font-size: 8px;
  }
  .eventbtn2{
    border: none;
    margin-top: 40%;
    background-color: #1A1430;
    border-radius: 30px;
    width: 85px;
    font-size: 10px;
    /* height: 30px; */
    /* margin: 50px 0; */
    padding: 10px;
    color: white;
  }
  .eventsheading{
    font-family: poppiens;
    font-size: 9px;
    color: white;
    /* font-family: poppiens; */
  }
  .eventtext{
    font-size: 8px;
    position: absolute;
    /* background-color: brown; */
    top: 80px;
  }
  .headingofeventonr{
    font-size: 10px;
    font-family: poppiens;
  font-weight: bold;
  color: #AEABBA;
  }
  .enevtonetext{
    font-family: rubiklight;
    font-size: 9px;
    color: white;
    /* font-family: poppiens; */
  }
  .enevtsimgbtn{
    /* background-color: yellow; */
    margin-top: 75%;
    /* margin: auto 0; */
    width: 30px;
    height: 30px;
  }
  .day01{
    background-color: #1A1430;
    border-radius: 30px;
    width: 60px;
    font-size: 11px;
    padding: 10px;
    color: white;
    border: none;
    margin: 10px;
  }
  .day02{
    font-size: 11px;
    background-color: #1B70F0;
    border-radius: 30px;
    width: 60px;
    padding: 10px;
    color: white;
    border: none;
    margin: 10px;
  }
  .day03{
    font-size: 11px;
    border: none;
    margin: 10px;
    background-color: #1A1430;
    border-radius: 30px;
    width: 60px;
    padding: 10px;
    color: white;
  }
  .eventcandy{
    width: 50px;
    position: absolute;
    left: 5%;
    top: 18%;
  }
  .eventcap{
    right: 10%;
    position: absolute;
    width: 50px;
    top: 20%;
  }
  .eventgift{
    bottom: 5%;
    position: absolute;
    left: 5%;
    width: 50px;
  }
  .eventbaaja{
    bottom: 15%;
    right: 5%;
    position: absolute;
    width: 50px;
  }
  .inputandbtnblog{
    /* background-color: orange; */
    width: 100%;
  }
  .inpurbloginnerdiv{
    background-color: white;
    /* height:'50px'; */
    /* padding-left: 1px; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  }
  .blogarrow{
    background-color: #6100B3;
    color: white;
    font-size: 11px;
    width: 100px;
    /* height: 35px; */
    border: none;
    margin-top: 0;
    padding: 3px;
    margin-left :5px;
  }
  .blogarrobtn{
    width: 20px;
    margin-left: 10px;
  }
  .bloginputarea{
    outline:none ;
    padding-left:10px;
    padding-bottom:3.5px;
     font-size:12px;
     width:60%;
     /* background-color: pink; */
     border:none ;
     margin-left :7px;
  }
  .blogimgone{
    width: 60px;
    top: 10px;
    left: 10px;
    position: absolute;
  }
  .blogimgtwo{
    width: 60px;
    bottom: 10px;
    right: 10px;
    position: absolute;
  }
  .areyouhapptext{
    width: 100%;
    font-family: poppiens;
    color: white;
    /* background-color: yellow; */
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
    /* margin-top: 60px; */
  }
  .iconone{
    width: 50px;
  }

}

