

.blogpgecardsimgandtext{
    /* background-color: yellow; */
    display: flex;
    padding-top: 15px;
    width: 180px;
    /* padding-bottom: 5px; */
    /* align-items: center; */
}
.blogpgecardsinnerimg{
    width: 24px;
    margin-right: 5px;
    height: 24px;
    /* background-color: green; */
}
.blogpgecardsinnerimgtext{
    font-size: 15px;
    color: #6F7172;
    /* background-color: #FAF9FF; */
}
.blogpagedivdetailsdiv{
    /* padding: 10px 0; */
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
}
.blogpagecardmaindiv{
    
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    background-color: aqua;
    /* padding: 40px; */
    width: 100%;
}
.blogpagecardmaindiv:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.blogpagedivalldetailsdiv{
    background-color: #FAF9FF;
    padding: 20px 50px;

}
.blogpagecardlastbtn{
    background-color: #062A4D;
    color: white;
    padding: 15px 40px;
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 600;
    /* font-family: rubik; */
    text-transform: uppercase;
}
.blogpagecardlastbtn:hover{
    transition: color 0.5s ease;
    border: 2px solid #062A4D;
    color: #062A4D;
    background-color: transparent;
}
.blogpagecardheading{
    font-size: 20px;
    font-weight: 600;
    color: #062A4D;
    font-family: Poppins;
}
.blogpagecardimg{
    width: 100%;
}
.blogpagebohtcardsdiv{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    /* background-color: orangered; */
}
.blogpagecardtext{
    font-family: Rubik;
    font-weight: 300;
    font-size: 15px;
    color: #6F7172;
}
.ourfeaturetextinvestblog {
    position: relative;
    font-family: Poppins;
    color: #062A4D;
    margin-left: 30px;
    /* text-transform: uppercase; */
    /* background-color: palevioletred; */
    /* letter-spacing: 2px; */
    font-size: 20px;
    font-weight: 600;
    /* font-family: Rubik; */
  }
.ourfeaturetext{
    font-family: Poppins;
    font-weight: 600;
    margin-left: 58px !important;
    font-size: 25px;
    color: #062A4D;
}
.blogsearchboxinput{
    background-color: #EAEDFF;
    border: none;
    padding: 10px 20px;
    width: 80%;
    font-size: 15px;
    outline: none;
}
.blogqouteheading{
    font-family: Rubik;
    font-weight: 600;
}
.blogsearchboxbtn{
    width: 20%;
    padding: 10px 10px;
    background-color: #062A4D;
    border: none;
    outline: none;
}
.blogpagesearchboxmaindiv{
    padding: 20px 30px;
    /* background-color: olive; */
    border: 2px solid #EAEDFF;
    margin-top: 30px;
    width: 100%;
}
.blogpagesearchboxmaindiv:hover{
    border: 2px solid #1B70F0;
    
}
/* .popularsuparmaindiv{
    background-color: aqua !important;
    padding: 20px;
} */
.blogpagesearchboxmainadvartisement{
    width: 100%;
}
.blogpagesearchboxmainadvartisementdiv{
    /* padding: 20px 30px; */
    /* background-color: olive; */
    /* border: 2px solid #EAEDFF; */
    margin-top: 30px;
    width: 100%;
}
.blogpageallcardsmap{
    /* background-color: pink; */
    /* width: 60%; */
    margin-left: 10px;
}
.blogsearchboxinputandbtn{
    width: 100%;
    /* margin-right: 0px; */
    display: flex;
    /* background-color: #1B70F0; */
}
.blogpageallinputsidecards{
    margin-right: 10px;
    /* background-color: purple; */
}
.blogpageaboutcardheading{
    /* background-color: #1B70F0; */
    color: #6F7172;
    /* display: block; */
    color: #062A4D;
    font-weight: 700;
    font-size: 20px;

    text-align: center;
    
    margin:  0 auto;
    margin-bottom: 10px;
    width: 80%;
}
.blogpageaboutcardtext{
    margin:  0 auto;
    text-align: center;
    width: 80%;
    display: block;
}
.profilepicaboutblogpage{
    /* background-color: #1B70F0; */
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    
}
.aboutcardbelogpageimagesdiv{
    /* background-color: #1B70F0; */
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.aboutcardbelogpageimage{
    padding: 10px 10px;
    /* color: #6F7172; */
    /* background-color: #6F7172; */
}
/* .aboutcardbelogpageimage:hover{
    border: 1px solid #EAEDFF;
} */
.socialimagesblogpage{
    background-color: #062A4D;
    border: none;
    padding: 10px;
}


 .searchbtnimgicon{
    width: 20px;
    height:20px
}

.instagremfeedbtns{
    background-color: #EAEDFF;
    color: #6F7172;
    /* font-family: rubik; */
    border: none ;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 12px;
    margin-right: 5px;
    margin-top: 5px;
    

    outline: none;
}

.instagramfeedbelogpagediv{
    /* background-color: #1B70F0; */
    margin-top: 10px;
    /* display: flex; */
    justify-content: space-evenly;
    text-transform: uppercase;
    /* align-items: ; */
}

.catagoieslistblogpage{
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* background-color: yellow; */
    margin-top: 5px;
    color: #6F7172;
    border-bottom: 1px solid #EAEDFF;
}
.catogorieslisttext{
    margin-top: 10px;
}
.catagoriesullist{
    /* background-color: #062A4D; */
    padding-left: 0px;
}
.popularfeedimg{
    width: 75px;
    height: 75px;
    border-radius: 37px;
}
.popularcardlisttext{
font-size: 13px;
font-family: poppiens;
color:#062A4D;
}
.popularcardlistbelowtext{
    font-size: 10px;
    font-family: rubiklight;
    color: #6F7172;

}
.popularfeedlistinnerdiv{
    margin-left: 10px;
}
.quoteofblogpage{
    display: flex;
    /* background-color: yellow; */
    color: white;
    font-family: poppiens;
    font-size: 20px;
    padding: 20px;
}
.quoteofblogpagemaindiv{
    background-color: #062A4D;
    padding: 20px;
}
.quotesmarkimg{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.quoteauthername{
    font-family: Rubik;
    font-size: 12px;
    color: white;
    width: 75%;
    font-weight: 500;
    letter-spacing: 2px;
    /* background-color: yellow; */
    margin: 0 auto;
    padding-left: 20px;
}
.ongoingpagination{
    display: block;
    width: 100%;
    /* background-color: palegoldenrod; */
    margin: 20px auto !important;
    /* padding: 16px; */
    text-align: center;
 }
 .ongoingpagination .ant-pagination-item,
 .ongoingpagination .ant-pagination-prev,
 .ongoingpagination .ant-pagination-next {
    display: inline-flex;
    align-items: center;
    justify-content: center;
   border-radius: 20px;
   background-color: #E8E8E8;
   /* border: 2px solid #E8E8E8; */
   border: none;
   color: #9990B8;
   font-weight: 800 !important;
   height: 40px;
   width: 40px;
   /* font-family: ; */
   font-size: 13px;
 }
 .contactusform{
    background-color: #F9FAFF;
    padding: 40px;
    padding-bottom: 0px;
 }
 .makecallbtn{
    /* background-color: #062A4D; */
    display: flex;
    justify-content: flex-end;
    /* margin-right: 40px; */
 }
 .makecallbtncontact{
    font-family: rubik;
    width: 130px;
    /* margin-bottom: 10px; */
    /* margin-left: 85%; */
    text-transform: uppercase;
    border: 1px solid gray;
    background-color: white;
    font-size: 12px;
    color: #062A4D;
    font-weight: bold;
    /* display: flex; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .formblock{
    /* display: flex; */
    background-color: white;
    /* justify-content: space-between;
    align-items: center; */
    padding: 15px;
    margin: 10px 10px;
}
.contactusformbtndiv{
    display: flex;
    justify-content: center;
    /* background-color: #062A4D; */
    /* margin: 0 auto; */
}

.formblocktextarea{
     display: flex;
     background-color: white;
     justify-content: space-between;
     /* align-items: center; */
     padding: 15px 20px;
     margin: 10px 20px;

 }
 .contactusforminput{
    text-transform: capitalize;
    border: none;
    outline: none;
    /* font-family: rubiklight; */
    /* padding-left: 5px; */
    font-size: 13px;
    font-weight: 600 !important;
    padding: 5px;
    width: 90%;
 }
 .contactusformtextarea{
    text-transform: capitalize;
    border: none;
    outline: none;
    /* font-family: rubiklight; */
    /* padding-left: 5px; */
    font-size: 13px;
    font-weight: 600 !important;
    padding: 5px;
    width: 96%;
 }
 /* .ourfeaturetextcontact {
    position: relative;
    color: #1B70F0;
    margin-left: 40px;
    text-transform: uppercase;
    background-color: palevioletred;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: rubik;
  } */
  .investmentheadingcontact {
    /* margin-left: 20px; */
    color: #062A4D;
    font-size: 30px;
    font-family: poppiens;
    letter-spacing: -1px;
  
    /* background-color: yellow; */
  }
  .investmentbtncontact {
    font-family: rubik;
    width: 130px;
    /* margin-bottom: 10px; */
    /* margin-left: 84%; */
    margin-left: 84%;
    
    text-transform: capitalize;
    border: 1px solid gray;
    background-color: white;
    font-size: 12px;
    color: #062A4D;
    font-weight: bold;
    /* display: flex; */
    /* align-items: rignt; */
    padding: 10px;
  }
  .featuredashblog {
    position: absolute;
    width: 20px;
    height: 4px;
    left: -30px;
    top: 13px;
    background: #1B70F0;
  }





@media only screen and (max-width: 1200px) {

    .blogpgecardsinnerimgtext{
        font-size: 11px;
        color: #6F7172;
        /* background-color: olive; */
    }
    .blogpgecardsimgandtext{
        /* background-color: yellow; */
        display: flex;
        padding-top: 15px;
        width: 150px;
        /* padding-bottom: 5px; */
        /* align-items: center; */
    }
    .blogpagecardmaindiv{
    
        margin-top: 30px !important;
        margin-bottom: 30px !important;
        /* background-color: aqua; */
        width: 100%;
    }
    .blogpageallcardsmap{
        /* background-color: pink; */
        /* width: 100%; */
        margin-left: 10px;
        margin-right: 0px;
        margin: 0 auto
    }
    .blogpagesearchboxmaindiv{
        padding: 20px 30px;
        /* background-color: olive; */
        border: 2px solid #EAEDFF;
        /* margin-right: 0px; */
        width: 100%;
        /* margin-top: 30px; */
        margin: 10px auto;
    }
    .blogsearchboxinputandbtn{
        background-color: #1B70F0;
    }
    .blogpageallinputsidecards{
        margin: 0 auto;
        /* margin-right: 0px; */
        width: 100%;
        /* background-color: purple; */
    }
    .blogpagebohtcardsdiv{
        width: 95%;
        margin: 0 auto;
        /* background-color: orangered; */
    }
    .blogpagesearchboxmainadvartisementdiv{
        margin: 10px auto;
        width: 100%;
    }
    .blogpagesearchboxmainadvartisement{
        margin: 10px auto;
        width: 100%;
    }
    
}
@media only screen and (max-width: 1100px) {
    .blogpgecardsimgandtext{
        /* background-color: yellow; */
        display: flex;
        padding-top: 15px;
        width: 100%;
        /* padding-bottom: 5px; */
        /* align-items: center; */

}
.blogpgecardsinnerimgtext{
    font-size: 12px;
    color: #6F7172;
    /* background-color: olive; */
}
.makemaindiv {
    width: 85%;
    /* margin-top: 50px; */
    /* background-color: aqua; */
    margin: 0px auto;
    /* margin-top: 0px; */
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .blogpagesearchboxmaindiv{
      padding: 20px 30px;
      /* background-color: olive; */
      border: 2px solid #EAEDFF;
      margin-top: 30px;
      width: 100%;
  }
  
}



@media only screen and (max-width: 1000px) {
    .blogpagesearchboxmaindiv{
        padding: 20px 30px;
        /* background-color: olive; */
        border: 2px solid #EAEDFF;
        margin-top: 30px;
        width: 80%;
    }
    .blogpagesearchboxmainadvartisementdiv{
        width: 80%;

    }

}







@media only screen and (max-width: 500px) {
    
    .blogpagebohtcardsdiv{
        width: 95%;
        margin: 0 auto;
        /* background-color: orangered; */
    }
    .blogsearchboxbtn{
       
        padding: 0px 0px;
       
    }
    .searchbtnimgicon{
        width: 20px;
        height:20px
    }
    .blogpagedivalldetailsdiv{
        padding: 20px 20px;
    }
    .blogpagesearchboxmaindiv{
        padding: 20px 30px;
        /* background-color: olive; */
        border: 2px solid #EAEDFF;
        margin-top: 30px;
        width: 100%;
    }
    .blogpagesearchboxmainadvartisementdiv{
        width: 100%;

    }
  
}