

.ant-dropdown-menu.ant-dropdown-menu-root{
    background-color: 
    #0C0D0F;
    border-top: 6px solid #6100B3;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ant-select-selector {
    color: BLACK !important;
    border-bottom: 1px solid #232323;
}
/* .ant-select-open{
    background-color: #0C0D0F;
    margin-top: 10px;
} */

.css-dev-only-do-not-override-w8mnev.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 32px;
    padding: 0 11px;
    color: #140F26;
    background-color: #E7E7E7;
    border:'none'
}
.custom-dropdown .ant-select-item-option {
    color: white;
  }
  .custom-select .ant-select-dropdown {
    background-color: #E7E7E7;
  }

  .custom-select input {
    background-color: #E7E7E7 !important;
    width: 500px !important;
  }
.signupwithgoogle{
    background: linear-gradient(180deg, #FAF0FF 0%, #FFDEBF 100%);
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    /* align-items: center; */
    padding-bottom: -10px ;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}
.googlelinktext{
    color: #140F26;
    font-size: 13px;
    margin-left: 10px;
    font-family: Poppins;
    /* margin-top: 10px; */
    /* background-color: #6100B3; */
}
.googlelinkimg{
    /* margin-top: 10px; */
    /* background-color: yellow; */
}

.campaigntags{
    color: white;
    font-weight: 300;
    padding: 8px;
    margin-top: 20px;
    margin-right:10px ;
    border-radius: 10px;
    font-family: Poppins;
    background: linear-gradient(180deg, #88AB00 0%, #6A8600 100%);
    margin-top: 10px;
}
.ReactTags__remove{
    background-color: transparent;
    border: none;
}
.addtags{
    font-family: Poppins;
    font-weight: 300;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    /* width: 40%; */
    padding: 8px;
    cursor: pointer;

}

button.ReactTags__remove {
    color: #505F1C;
    font-size: 18px;
    font-weight: 300;
    border: none;
    outline: none;
  
    /* margin-top: 30px; */
}
.ReactTags__tagInputField{
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}


.ant-select-selector.ant-select{
    background-color: #E7E7E7;
    border: none;
    /* color: gold; */
}
.dropdownopt:hover{
    background-color: #6100B3;
    accent-color: purple;

}













@media only screen and (max-width: 992px) {
    
    
    
    
    .campaignformimg{
        display: none;
    }
    
}
@media only screen and (max-width: 765px) {
    #o5{
        order: 1;
    }
    #o6{
        order: 2;
    }
    #o7{
        order: 3;
    }
    #o8{
        order: 4;
    }

}