


.ongoingfirstcomp{
    /* background-color: aqua; */
    width: 80%;
    margin: 0 auto;
}
 .ongoingfirstcompcol {
    padding-top: 8%;
    /* background-color: olivedrab; */
 }
 .ongoinggittarimg{
    height: 400px;
    /* background-color: pink; */
    width: 100%;
 }
 .ongoingfirstcompheading{
    font-size: 50px;
    color: #062A4D;
    padding-left: 20px;
    /* text-align: ; */
    /* background-color: olive; */
 }
 .ongoingfirstcomptext{
    color: #6F7172;
    font-family: rubiklight;
    font-size: 15px;
    padding: 20px;
}
.ongoingfirstcomptextbelow{
        color: #6F7172;
        font-family: rubiklight;
    padding: 20px;
    padding-top: 0px;
     font-size: 15px;

 }
 .ongoingheartbeatsimg{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    margin-bottom: -130px;
 }
 .ongoingpagination{
    display: block;
    width: 100%;
    /* background-color: palegoldenrod; */
    margin: 20px auto !important;
    /* padding: 16px; */
    text-align: center;
 }
 .ongoingpagination .ant-pagination-item,
.ongoingpagination .ant-pagination-prev,
.ongoingpagination .ant-pagination-next {
  border-radius: 50%;
  background-color: #E8E8E8;
  border: none;
  color: #9990B8;
  height: 40px;
  width: 40px;
  font-family: rubiklight;
  font-size: 13px;
}
.ongoingpagination .ant-pagination-item{
    padding: 6px;

}
.ongoingpagination .ant-pagination-item:hover{
   font-weight: 600;

}
.ongoingpopularcard{
    margin-bottom: 20 !important;
}

 
 
 
 
 
 
 
 
 @media only screen and (max-width: 800px) {
     .ongoingheartbeatsimg{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        position: sticky;
        margin-bottom: -100px;
     }
     
 }




 @media only screen and (max-width: 500px) {
     .ongoingheartbeatsimg{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        position: sticky;
        margin-bottom: -60px;
     }
     .ongoingfirstcomp{
        /* background-color: aqua; */
        width: 95%;
        margin: 0 auto;
    }
    .ongoinggittarimg{
        height: 300px;
        /* background-color: pink; */
        /* width: 100%; */
     }
     .ongoingfirstcompheading{
        font-size: 32px;
        color: #062A4D;
        padding-left: 20px;
        /* text-align: ; */
        /* background-color: olive; */
     }
     
 }











