

@font-face {
    font-family: poppiens;
    src: url(./components/fonts/Poppins-Bold.ttf);
  }
  
  @font-face {
    font-family: rubik;
    src: url(./components/fonts/Rubik-Bold.ttf);
  }
  
  @font-face {
    font-family: rubiklight;
    src: url(./components/fonts/Rubik-Light.ttf);
  }



.projectdetailsfirstbigtext{
    font-family: Rubik;
    font-weight: 300;
    margin: 20px 0px;
    color: #6F7172;
    font-size: 15px;
}

.projectdetailsfirstimg{
    width: 100%;
}

.projectdetailpriceanddetailend{
/* width: 100px; */
    /* background-color: yellow; */
    display: flex;
    justify-content: end;
        /* background-color: yellow; */
}
.projectdetailpriceanddetailstart{
/* width: 100px; */
    /* background-color: yellow; */
    display: flex;
    justify-content: start;
        /* background-color: yellow; */
}
.projectdetailpriceanddetailcenter{
/* width: 100px; */
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
        /* background-color: yellow; */
}
.projectdetailpriceanddetail{
/* width: 100px; */
    /* background-color: yellow; */
    display: flex;
    justify-content: end;
        /* background-color: yellow; */
}

.projectprogressdollarone{
    color: #062A4D;
    font-size: 45px;
    font-family: Poppins;
    font-weight: 600;
}
.projectdetailcardpricebelowtext{
    color: #6F7172;
    font-family: Rubik;
    font-weight: 400;
    font-size: 15px;
    line-height: 1px;
}
.amountinputprojectdetailpage{
    width: 100%;
    color: #236484;
    background-color: #F8F8FF;
    /* display: flex; */
    /* padding: 5px; */
    /* align-items: center; */
    border: none;
    outline: none;
}
.amountinputandbtnrow{
    display: flex;
    padding: 5px 0px !important;
    justify-content: space-between;
    /* margin: 0px 10px !important; */
    align-items: center;
    background-color: #F8F8FF;
    /* background-color: yellow; */
}

/* .projectdetailsbtn{
    
    
} */
.blogarrobtnprojectdetail {
    
    margin-left: 70px !important;
}
.detailprojectarrow {
    width: 100%;
    margin-bottom: 0% !important;
    background-color: #6100B3;
    color: white;
    /* margin-top: 20px; */

    border: none;
    padding: 10px 15px;
    /* padding-right: 10px !important ; */
    text-transform: uppercase;
    font-size: 13px !important;
    
  }
  /* .comeandjoinusbtn{
} */


.aboutcarddetailprojectpageimagesdiv{
    /* background-color: #1B70F0; */
    /* margin-top: 10px; */
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detailprojectheart{
    background-color: #062A4D;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    /* width: 100px; */

    text-transform: uppercase;
    font-size: 13px;
    border: none;
    outline: none;
}
.heartdetailproject{
    width: 18px;
    margin-right:10px ;
}
.aboutcarddetailprojectpageimage{
    padding: 10px 10px;
    background-color: #EDF4FF;
}
.comeandjoinusbtnarrowdetailproject{
    margin-left: 15px;
    width: 25px !important;
    /* padding-right: 10px !important ; */
    /* width: 40px !important; */
    /* padding-left: 5px !important; */

}
.projectdetailsecompimgone{
    width: 100%;
}
.projectdetailsecompimgflex{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.projectdetailsecompimges{
    width: 49%;
    margin-top: 2%;
    
}
.projectdetailnavigationmaindiv{
    /* background-color: aqua; */
    padding: 60px 0px 0px 0px;
    border-bottom: 2px solid #E1E1E1;
    margin: 30px 0px;
}
.projectdetailnavigationdiv{
    /* background-color: yellow; */
    width: 70%;
    font-family: rubiklight;
    /* font-weight: 200; */
    margin: 0 auto;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* position: relative; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.projectdetailsinglenav {
    font-family: Rubik;
    font-weight: 400;
    list-style: 2px;
    color: #8C8BB5;
    cursor: pointer;
    /* margin-bottom: -5px; */
    padding: 5px;
    margin: 10px 0px 0px 0px;
    margin-bottom: -6px;
    
    
}
.projectdetailactivnav {
    font-family: Rubik;
    font-family: 400;
    /* margin-bottom: -10px; */
    cursor: pointer;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); added */
    /* bottom: -2px; */
    margin: 10px 0px 0px 0px;
    margin-bottom: -2px;
    padding: 5px;
    /* height: 100%; */
    /* left: 10px; */
    /* background-color: red; */
    color: #100D1C;
    border-bottom:2px solid #1B70F0 ;
}
.projectdetaillastcompseclasttext{

    font-family: Rubik;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 15px;
    color: #6F7172;
}
.projectdetaillastcomplasttext{

    font-family: poppiens;
    font-size: 20px;
    color: #062A4D;
}
/* .projectdetaillastcompdiv{
    background-color: #1B70F0;
     width: 100%; 
} */
.projectdetaillastcompmaindiv{
    margin-top: 20px;
    
    border-top: 2px solid #E1E1E1;
}
.projectdetaillastcomp{
    margin: 10px 0px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}


@media only screen and (max-width: 1000px) {

.detailprojectarrow{
margin-top: 10px;
}
}

@media only screen and (max-width: 800px) {
    .projectprogressdollarone{
        color: #062A4D;
        font-size: 30px;
        font-family: poppien;
        font-weight: 700;
    } 
    .projectdetailnavigationdiv{
        /* background-color: yellow; */
        width: 100%;
        font-family: rubiklight;
        /* font-weight: 200; */
        margin: 0 auto;
        /* margin-top: 10px; */
        /* margin-bottom: 10px; */
        font-size: 12px;
        /* position: relative; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}





@media only screen and (max-width: 500px) {
    .projectprogressdollarone{
        color: #062A4D;
        font-size: 20px;
        font-family: poppien;
        font-weight: 700;
    } 
    .projectdetailcardpricebelowtext{
        color: #6F7172;
        font-family: rubiklight;
        font-size: 10px;
        line-height: 1px;
    }
    .projectdetailsfirstbigtext{
        font-family: Rubik;
        font-weight: 300;
        margin: 20px 0px;
        color: #6F7172;
        font-size: 10px;
    }
    .projectdetailnavigationdiv{
        /* background-color: yellow; */
        width: 100%;
        font-family: rubiklight;
        /* font-weight: 200; */
        margin: 0 auto;
        /* margin-top: 10px; */
        /* margin-bottom: 10px; */
        font-size: 10px;
        /* position: relative; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .projectdetaillastcomp{
        margin: 10px 0px;
        /* background-color: yellow; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}